<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Reservation annulée</title>
  </head>
  <body>
    <h1>Bonjour <%= @host.pseudo %>,</h1>
    <h2><%= @user.pseudo %> a annulé sa réservation.</h2>
    <p>Nous sommes désolés de vous informer que la réservation pour la séance de <%= @workout.title %> a été annulée.</p>
    <p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>
    <p>Cordialement,</p>
    <p>Votre équipe</p>
  </body>
</html>