<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Annulation de la séance</title>
  </head>
  <body>
    <h1>Bonjour <%= @host.pseudo %>,</h1>
    <h2>Nous vous confirmons l'annulation de votre séance.</h2>
    
    <p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>
    <p>Sportivement,</p>
    <p>Votre équipe</p>
  </body>
</html>