<head>
<% content_for :title, "aide" %>
<% content_for :meta_description, "Description de la page" %>
</head>

<section class="bg-primary py-5 text-center">
    <h1 class="text-light">Aide</h1>
</section>
<div class="row row-cols-1 row-cols-md-2 g-4 mt-1 mb-5">
  <div class="col">
    <div class="card ms-auto h-100 modal-body p-5 rounded-4 shadow bg-body-tertiary" style="max-width: 30rem;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Je suis propriétaire</h5>
            <div class="card-text">
                <p>1. Je dépose mon annonce gratuitement sur la plateforme
                <p>Cliquez sur "Proposer une séance" (présent dans le menu) pour déposer votre annonce en un clic. Ajoutez les détails de vos équipements et fixez vous-même le prix de la location. N’oubliez pas d’y insérer quelques photos !</p>
                <p>2. Je reçois des demandes de réservation</p>
                <p>Dès que vous recevez une demande, vous avez la possibilité d’accepter ou de refuser celle-ci en fonction de vos disponibilités.</p>
                <p> 3. J’accueille les sportifs</p>
                <p>Le jour venu, vous accueillez les locataires pour qu’ils puissent disposer librement des équipements.</p>
                <p>4. Je perçois le règlement</p>
                <p>Vous recevez automatiquement le montant de la transaction sur votre compte bancaire dans un délai de 3 à 10 jours.</p>
                <p>5. Je laisse un avis sur la plateforme</p>
                <p>Une fois la location effectuée, vous avez la possibilité de laisser un commentaire pour faire part de votre expérience.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card me-auto h-100 modal-body p-5 rounded-4 shadow bg-body-tertiary" style="max-width: 30rem;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Je suis locataire</h5>
            <div class="card-text">
                <p>1. Je cherche des équipements</p>
                <p>Entrez la localisation souhaitée dans la barre de recherche et sélectionnez les équipements dont vous avez toujours rêvé. Vous avez la possibilité de contacter le propriétaire afin de lui demander des informations supplémentaires.</p>
                <p>2. Je réserve en ligne</p>
                <p>Réservez les équipements ou l’infrastructure en sélectionnant la date de la location. Vous ne serez pas facturé immédiatement.</p>
                <p>3. Je prépare ma venue</p>
                <p>Une fois votre demande de réservation acceptée, vous pourrez prendre connaissance de l’adresse exacte de la location. Il ne vous reste plus qu’à préparer vos muscles !</p>
                <p>4. Je profite de ma séance de sport</p>
                <p>Le jour J est arrivé ! Profitez d’une séance de sport avec un matériel de qualité.</p>
                <p>5. Je laisse un avis sur la plateforme</p>
                <p>C’est déjà fini... N’hésitez pas à laisser un commentaire sur la qualité de l’accueil que vous avez reçu.</p>
            </div>
        </div>
    </div>
  </div>
</div>
<section class="bg-primary py-5 text-center">
    <h1 class="text-light">F.A.Q</h1>
</section>
<h3 class="text-center m-4">Quelques questions qui reviennent souvent</h3>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card ms-auto h-100 modal-body p-5 rounded-4 shadow bg-body-tertiary" style="max-width: 30rem;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Je suis propriétaire</h5>
            <div class="card-text">
                <p>1.Est-ce qu’un locataire peut me régler en liquide ?</p>
                <p>Non, n’acceptez jamais une location en dehors du site. Aucun règlement en liquide n’est autorisé pour payer une location. Pourquoi ? Parce qu’en cas d’accident ou de vol, vous ne serait pas assurée par Keella. Le paiement en ligne est un gage de sécurité pour vous, ne prenez pas de risques inutiles en contournant le paiement sur le site.</p>
                <p>2. Quand suis-je crédité ?</p>
                <p>Vous serez crédité sur votre compte par virement entre 3 et 5 jours après la réalisation de la réservation.</p>
                <p>3. Que se passe-t-il si le locataire ne se présente pas ou est en retard ?</p>
                <p>Si le locataire ne se présente pas au lieu de rendez-vous au plus tard dans un délai de 30 minutes à compter de l’heure convenue, aucun remboursement ne pourra être effectué.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card me-auto h-100 modal-body p-5 rounded-4 shadow bg-body-tertiary" style="max-width: 30rem;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Je suis locataire</h5>
            <div class="card-text">
                <p>1. Quels sont les moyens de paiement acceptés ?</p>
                <p>Actuellement, Keella n’accepte que les paiements par carte bancaire. Tout paiement en espèces ou en dehors du site est considéré comme une infraction aux conditions générales d’utilisation et constitue un motif de bannissement de la communauté. Utiliser notre plateforme permet d’une part la protection de vos données, et d’autre part une assurance en cas de problème.</p>
                <p>2. Quand serai-je débité ?</p>
                <p>Vous êtes débité dès que le propriétaire accepte votre demande de réservation.</p>
                <p>3. Réservation : le propriétaire ne me répond pas/plus</p>
                <p>Avant acceptation de la réservation, Il peut arriver que certains propriétaires ne répondent pas ou ne soient pas libres, il est donc conseillé d’envoyer un message à plusieurs propriétaires différents avant de réserver pour s’assurer de leurs disponibilités avant d’effectuer une demande de réservation.</p>
            </div>
        </div>
    </div>
  </div>
</div>