<section class="bg-primary py-5 text-center">
    <h1 class="text-light">Conditions d'utilisations</h1>
</section>
<br>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="border border-dark p-3">
  
    <h2>Conditions d'utilisations</h2>




            </div>
        </div>
    </div>
</div>