<head>
<% content_for :title, "Contact" %>
<% content_for :meta_description, "Formulaire pour contacter l'équipe Keella" %>
</head>

<section class="bg-primary py-5 text-center">
    <h1 class="text-light">Nous Contacter</h1>
</section>
<section>
    <div class="col">
        <div class="card me-auto h-100">
            <p class="card-header">Commentaires:</p>
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Laissez un commentaire</label>
                    <textarea class="form-control" id="TexteAreaForComments" rows="5"></textarea>
                </div>
            </div>
            <div class="card-footer">
                <div class="mb-3">
                    <label class="form-label">Laissez un commentaire</label>
                    <textarea class="form-control" id="TexteAreaForComments" rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>
</section>

