<head>
<% content_for :title, "Mentions Légales" %>
<% content_for :meta_description, "Mentions Légales" %>
</head>

<section class="bg-primary py-5 text-center">
    <h1 class="text-light">Mentions Légales</h1>
</section>


<div class="col">

</div>