<div class="d-flex justify-content-center align-items-center mt-5">
    <form class="w-50 me-3" role="search">
        <input type="search" class="form-control" placeholder="Cherche ta séance en fonction de ta ville..." aria-label="Search">
    </form>
</div>
