<%= render 'searchbar' %>
  
    <div class="album py-5 text-center container">
        
            <%= turbo_frame_tag "workouts-boxes" do %>
  <%= render "workouts", workouts: @workouts %>
<% end %>
        <% unless @no_more_to_show %>
        
        <%= link_to "Voir plus", workouts_path(showed_workout_number: @next_workouts), id: 'load-more', data:{turbo_frame: "workouts-boxes"} %>
        <% end %>
    </div>

  