<%= render 'searchbar' %>
  
    <div class="album py-5 text-center container">
        
            <%= turbo_frame_tag "workouts-boxes" do %>
  <%= render "workouts", workouts: @workouts %>
<% end %>
        
        <%= link_to "Voir plus", workouts_path(page: @page), id: 'load-more', data:{turbo_frame: "workouts-boxes"} %>
    </div>

  