<main class="row">
    <section class="row bg-primary px-4 py-5 rounded text-center">
        <h1 class="text-light">Propose ta séance</h1>
    </section>
    <br>
    <div class="row bg-secondary rounded px-4 py-5 text-center">
        <div class="col">
            <p>Image 1</p>
        </div>
        <div class="col">
            <p>Image 1</p>
        </div>
        <div class="col">
            <p>Image 1</p>
        </div>
    </div>
    <div>
        <p>
        t.string :title
        t.datetime :start_date
        t.datetime :end_date
        t.integer :participant_number
        t.text :description
        t.decimal :price
        t.string :location
        </p>
    </div>
</main>