<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %>,</h1>
    <h2>Bonne nouvelle, ta demande a été accepté !</h2>
    <p>Votre place est confirmée, vous n'avez rien à faire.</p>
    <p>Etape suivante ?</p>
    <ol>
      <li>Vous préparer à pour la séance</li>
      <li>Vous rendre à la séance</li>
      <li>A la fin de votre séance, veuillez confirmer que vous avez assisté à votre séance afin de remercier l’hote en débloquant votre paiement.</li>
    </ol>
    <div>
      <button class="btn btn-primary"><a href="<%= user_reservations_url(@user, @reservation) %>">Confirmer la fin de ma séance</a></button>
    </div>
    <p>Vous pouvez également copier et coller ce lien dans la barre d'adresse de votre navigateur.</p>
    <p>Sportivement,</p>
    <p>À très vite sur keella.fly.dev !</p>
  </body>
</html>