<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Confirmation de paiement</title>
  </head>
  <body>
    <h1>Salut <%= @user.pseudo %>,</h1>
    <h2>Nous vous confirmons votre paiement de : <%= @paid_amount %> €</h2>
    <p>Etape suivante ?</p>
    <ol>
      <li>Chercher une séance</li>
      <li>Réserver une seance avec votre crédit virtuel</li>
    </ol>
    <p>Vous pouvez également copier et coller ce lien dans la barre d'adresse de votre navigateur.</p>
    <p>Sportivement,</p>
    <p>À très vite sur keella.fly.dev !</p>
  </body>
</html>