<head>
<% content_for :title, "Echec de paiement" %>
<% content_for :meta_description, "Il y a eu un souci lors du paiement" %>
</head>
<div class="container text-center my-5"> 
  <h1>Echec</h1> 
  <p>Le paiement n'a pas abouti.</p> 
</div>