<% @workouts.each do |workout| %>
    <% workout.reservations.each do |reservation| %>
        
    Invité : <%= link_to reservation.user.email, user_path(reservation.user) %>
    <br>
    Note :
    <% if reservation.user_rating %>
        <% reservation.user_rating.times do %>
        <i class="bi bi-star-fill"></i>
    <% end %>
    <% else %>
    Pas encore noté
    <% end %>
    <br>
    Commentaire de la séance : <%= reservation.user_comment %>
    <br>
    </p>
            
    <% end %>
<% end %>
                    
                    
 