<div class="card rounded-4 bg-body-tertiary">
    <div class="card-header ">
    
        <% if @workouts.blank? %>
            <h5>Tu n'as pas encore crée de séances donc pas de review</h5>
        <% else %>
            <h5>Voici les retours de tes invités :</h5>
    </div>
        <% @workouts.each do |workout| %>
            <% workout.reservations.order(created_at: :desc).each do |reservation| %>
                <% if reservation.user_rating || reservation.user_comment.present? %>
                    <div class="card rounded-4 bg-body-tertiary ">
                        <div class="card-body rounded-4 bg-body-tertiary">
                            <p class="mb-0"> 
                                Date de réservation le : <%= reservation.created_at.strftime("%d/%m/%Y") %>
                                <br>           
                                Participant : <%= link_to reservation.user.pseudo, user_path(reservation.user) %>
                                <br>
                                Note : 
                                <% if reservation.user_rating %>
                                    <% reservation.user_rating.times do %>
                                        <i class="bi bi-star-fill"></i>
                                    <% end %>
                                <% else %>
                                    Pas encore noté
                                <% end %>
                                <br>
                                Commentaire de la séance : <em><%= reservation.user_comment %></em>
                            </p>
                        </div>
                    </div>
                <% end %>
            <% end %>   
        <% end %>    
    <% end %> 
</div>