
<% content_for :title, "Compte" %>
<% content_for :meta_description, "Quelle page souhaitez-vous parcourir?" %>

<section class="bg-primary py-5 text-center">
    <h1 class="text-light">Mon Compte</h1>
</section>
<div class="p-3 m-0 border-0 bd-example m-0 border-0 row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card text-bg-info text-white ms-auto h-100" style="max-width: 22rem;">
            <p class="card-header">Mon profil</p>
            <div class="card-body">
                <h5 class="card-title">Cliquer pour voir votre profil</h5>
                <div class="card-footer">
                    <%= link_to "Mon profil", user_path(current_user.id), class: "btn btn-info text-white btn-lg" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-secondary me-auto h-100" style="max-width: 22rem;">
            <p class="card-header">Mes reservations</p>
            <div class="card-body">
                <h5 class="card-title">Cliquez pour voir vos reservations</h5>
                <div class="card-footer">         
                    <%= link_to 'Reservations', reservations_path, class: 'btn btn-secondary btn-lg' %>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-success ms-auto h-100" style="max-width: 22rem;">
            <p class="card-header">Mes annonces</p>
            <div class="card-body">
                <h5 class="card-title">Cliquez pour acceder a vos annonces</h5>
                <div class="card-footer">
                    <%= link_to "Annonces", user_reservation_path(current_user.id,current_user.hosted_workouts), class: "btn btn-success btn-lg m-0" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-danger me-auto h-100" style="max-width: 22rem;">
            <p class="card-header">Paiement/Credit</p>
            <div class="card-body">
                <h5 class="card-title">Ciquez pour voir votre crédit et vos paiements</h5>
                <div class="card-footer">
                    <%= link_to "Paiement/Credit", checkouts_path, class: "btn btn-danger btn-lg m-0" %>
                </div>
            </div>
        </div>
    </div>
</div>