<h1 class="d-flex justify-content-center p-3 mb-2 bg-info text-white">Mon Compte</h1>
<div class="p-3 m-0 border-0 bd-example m-0 border-0 row row-cols-1 row-cols-md-2 g-4">
    <div class="col"> 
        <div class="card text-bg-primary ms-auto h-100" style="max-width: 22rem;">
            <p class="card-header">Mon profil</p>
            <div class="card-body">
                <h5 class="card-title">Cliquer pour voir votre profil</h5>
                <div class="card-footer">
                <%= link_to "Mon compte", user_path(current_user.id), class: "btn btn-primary btn-lg" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-secondary me-auto h-100" style="max-width: 22rem;">
            <p class="card-header">Mes reservations</p>
            <div class="card-body">
                <h5 class="card-title">Cliquez pour voir vos reservations</h5>
                <div class="card-footer">
                    <button type="button" class="btn btn-secondary btn-lg">Reservations</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-success ms-auto h-100" style="max-width: 22rem;">
            <p class="card-header">Mes annonces</p>
            <div class="card-body">
                <h5 class="card-title">Cliquez pour acceder a vos annonces</h5>
                <div class="card-footer">
                    <button type="button" class="btn btn-success btn-lg m-0">Annonces</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-danger me-auto h-100" style="max-width: 22rem;">
            <p class="card-header">Paiement</p>
            <div class="card-body">
                <h5 class="card-title">Ciquez pour parameter votre moyen de paiement</h5>
                <div class="card-footer">
                    <button type="button" class="btn btn-danger btn-lg">Paiement</button>
                </div>
            </div>
        </div>
    </div>
</div>