<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Laisse une note
    </button>
    <ul class="dropdown-menu">
    
        <%= form_with(model: [reservation.workout, reservation], url: rate_host_reservation_path(reservation), method: :patch, local: true) do |form| %>
          <div class="field">
            <%= form.label :host_rating, 'Note pour l\'hôte' %>
            <%= form.number_field :host_rating, in: 1..5, step: 1 %>
          </div>
        <%= form.submit 'Noter le hôte' %>
        <% end %>
    
    </ul>
  </div>
</div>

