<head>
<% content_for :title, "Annonces" %>
<% content_for :meta_description, "Retrouvez toutes vos annonces" %>
</head>
<section class="bg-primary py-5 text-center">
    <h1 class="text-light">Mes Annonces</h1>
</section>
<%=turbo_frame_tag "fullpage" do%>
    <%= render partial: "reservation-tab"%>
<%end%>