<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Aide</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Suivez-nous</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">contactez-nous</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Mention légale</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Condition d'utilisation</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Politique de confidentialité</a></li>

    </ul>
    <p class="text-center text-body-secondary">© 2024 Keella, Inc</p>
  </footer>